<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emall.spring.dao.ProdisMapper" >
  <resultMap id="BaseResultMap" type="com.emall.spring.entity.Prodis" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="distributeid" property="distributeid" jdbcType="VARCHAR" />
    <result column="productid" property="productid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    uuid, distributeid, productid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from prodis
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from prodis
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.emall.spring.entity.Prodis" >
    insert into prodis (uuid, distributeid, productid
      )
    values (#{uuid,jdbcType=VARCHAR}, #{distributeid,jdbcType=VARCHAR}, #{productid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.emall.spring.entity.Prodis" >
    insert into prodis
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="distributeid != null" >
        distributeid,
      </if>
      <if test="productid != null" >
        productid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="distributeid != null" >
        #{distributeid,jdbcType=VARCHAR},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.emall.spring.entity.Prodis" >
    update prodis
    <set >
      <if test="distributeid != null" >
        distributeid = #{distributeid,jdbcType=VARCHAR},
      </if>
      <if test="productid != null" >
        productid = #{productid,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.emall.spring.entity.Prodis" >
    update prodis
    set distributeid = #{distributeid,jdbcType=VARCHAR},
      productid = #{productid,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <select id="selectByproductid" resultMap="BaseResultMap">
    select *
    FROM
    prodis
    WHERE productid = #{productid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByProductID" parameterType="java.lang.String">
    delete from prodis
    where productid = #{productid,jdbcType=VARCHAR}
  </delete>
</mapper>